<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Professional Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpeg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Anti Human-Trafficking Intelligence Initiative</h3>
                                    <h5 class="subheading">Pro Bono Data Analyst</h5>
                                    <h5>March 2024 - June 2024</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Collaborated with the scraping team to identify specific data to be stored for each scraper, and designed and maintained robust MySQL database schema using phpMyAdmin</p>
                                    <p class="text-muted">• Developed Python scripts to build efficient data pipelines, ensuring seamless SQL database connections, enhancing data integrity, and enabling real-time data logging and querying for further analysis</p>
                                    <br>
                                    <p class="text-muted">Skills: #Python #MySQL #Database Management</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Illinois Broadband Lab</h3>
                                    <h5 class="subheading">Data Reviewer</h5>
                                    <h5>Mar 2024 - June 2024</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                   <p class="text-muted">• Reviewed and validated data for BEAD Map Challenge Proces</p>
                                   <br>
                                   <p class="text-muted">Skills: #Data Analysis # Data Cleaning</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>University of Chicago Data Science Institute</h3>
                                    <h5 class="subheading">Data Analyst Intern - Client: WBEZ Chicago</h5>
                                    <h5>January 2024 - March 2024</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Executed data cleaning and preprocessing on a large-scale 12GB SQLite database, querying and extracting key features for advanced analysis</p>
                                    <p class="text-muted">• Collaborated with a team of four and stakeholders to develop and deploy two interactive and user-friendly web applications, using Dash for webpages and Streamlit for dashboard</p>
                                    <p class="text-muted">• Leveraged advanced data visualization techniques, including GeoPandas for mapping county-level data and Plotly for interactive charts, to highlight traffic stop patterns across demographics, aiming to enhance public awareness of racial disparities</p>
                                    <br>
                                    <p class="text-muted">Skills: #Python #SQL #Data Visualization #Data Analysis #User Interface Design</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpeg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Hope Chicago</h3>
                                    <h5 class="subheading">Pro Bono Data Analyst</h5>
                                    <h5>January 2024-March 2024</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Collaborated with a team of 10 to evaluate summer school scholarship program, providing valuable insights and policy suggestions for program effectiveness and student support strategies</p>
                                    <p class="text-muted">• Performed extensive data cleaning, addressing missing and inconsistent data types and expressions</p>
                                    <p class="text-muted">• Conducted statistical analysis and applied data visualization techniques to investigate correlations between post-summer school questionnaire responses and subsequent academic performance, focusing on academic progress and GPA trends</p>
                                    <br>
                                    <p class="text-muted">Skills: #Python #Data Analysis #Data Visualization</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>University of Chicago Harris School of Public Policy</h3>
                                    <h5 class="subheading">Teaching Assistant - Statistics for Data Analysis, and International Trade</h5>
                                    <h5>September 2023 - December 2023</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Evaluated assignments for 400+ students, provided tailored feedback to enhance comprehension of international trade principles, statistical methodologies, and proficiency in R coding, and impacted over 10% of the student body through dedicated office hours</p>
                                    <br>
                                    <p class="text-muted">Skills: #R </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.png" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Strengthening a Nation</h3>
                                    <h5 class="subheading">Volunteer</h5>
                                    <h5>November 2023</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Provided guidance and consultation to the organization on effective data collection and utilization, as well as survey implementation, and collaborated to design a program aimed at fostering the career development of youth</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Taipei City Government</h3>
                                    <h5 class="subheading">Section Assistant - Taipei City Market Administration Office</h5>
                                    <h5>November 2020 - August 2022</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Supervised operation of 3 public markets with a total of 424 stalls, orchestrated strategic modernization planning, involving facility upgrades and promotion of food hygiene practices, and secured prestigious 4-star market award for Shuiyuan Market</p>
                                    <p><p>
                                    <p class="text-muted">• Mediated government-vendor communication, coordinated meetings with public officials, elected representatives, and private stakeholders, and successfully reignited the Hebin Market reconstruction project after a 6-month standstill</p>
                                    <p><p>
                                    <p class="text-muted">• Awarded for outstanding contributions in mitigating the COVID-19 outbreak by swiftly establishing robust contact tracing system and assisting markets in achieving a 98% full vaccination rate within a remarkably brief timeframe</p>
                                    <br>
                                    <p class="text-muted">Skills: #Project Management #Communication</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading" style="text-align: left;">
                                    <h3>Mamilove Company</h3>
                                    <h5 class="subheading">Web Editor (Internship)- Department of Digital Marketing</h5>
                                    <h5>June 2017 - September 2017</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Spearheaded development of custom websites and social media content for 10 baby care brands, and achieved a peak viewership of 150,000 (a remarkable 75% growth)</p>
                                    <p class="text-muted">• Performed ongoing surveillance and analysis of web traffic, and pinpointed performance enhancement opportunities</p>
                                    <br>
                                    <p class="text-muted">Skills: #Video Editing #Social Media Marketing #Web Content Creation</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>