<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Professional Experience</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Sintrones Technology Corporation</h3>
                                    <h5 class="subheading">Business Intelligence Developer</h5>
                                    <h5>September 2024 - Present</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Designed and automated Power BI dashboards integrating Oracle and Tiptop ERP data using SQL and DAX, streamlining business reporting and improving decision efficiency for 30+ users </p>
                                    <p class="text-muted">• Developed Python ETL workflows to scrape, clean, and transform TWSE financial data, delivering real-time insights through interactive dashboards and reducing report preparation time by 50%</p>
                                    <p class="text-muted">• Collaborated with cross-functional teams and applied a solid understanding of ERP business logic and data structures to optimize data integration and reporting automation</p>
                                    <p class="text-muted">• Led LLM implementation research to assist the R&D department in simplifying workflows and enabling intelligent retrieval of technical documentation </p>
                                    <br>
                                    <p class="text-muted">Skills: #Power BI #Python #SQL #Tiptop ERP #LLM </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpeg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Anti Human-Trafficking Intelligence Initiative</h3>
                                    <h5 class="subheading">Pro Bono Data Analyst</h5>
                                    <h5>March 2024 - June 2024</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                   <p class="text-muted">• Collaborated with the scraping team to define data storage requirements for each scraper and designed a robust MySQL schema</p>
                                   <p class="text-muted">• Developed Python scripts to build efficient data pipelines, ensuring seamless SQL database connections, enhancing data integrity, and enabling real-time data logging and querying for further analysis</p>
                                   <br>
                                   <p class="text-muted">Skills: #Python #MySQL #Database Management</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>University of Chicago Data Science Institute</h3>
                                    <h5 class="subheading">Data Analyst Intern - Client: WBEZ Chicago</h5>
                                    <h5>January 2024 - March 2024</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Executed data cleaning and preprocessing on a large-scale 12GB SQLite database, querying and extracting key features for advanced analysis</p>
                                    <p class="text-muted">• Collaborated with a team of four and stakeholders to develop and deploy two interactive and user-friendly web applications, using Dash for webpages and Streamlit for dashboard</p>
                                    <p class="text-muted">• Leveraged advanced data visualization techniques, including GeoPandas for mapping county-level data and Plotly for interactive charts, to highlight traffic stop patterns across demographics, aiming to enhance public awareness of racial disparities</p>
                                    <br>
                                    <p class="text-muted">Skills: #Python #SQL </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>University of Chicago Harris School of Public Policy</h3>
                                    <h5 class="subheading">Teaching Assistant - Statistics for Data Analysis, and International Trade</h5>
                                    <h5>September 2023 - December 2023</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Evaluated assignments for 400+ students, provided tailored feedback to enhance comprehension of international trade principles, statistical methodologies, and proficiency in R coding, and impacted over 10% of the student body through dedicated office hours</p>
                                    <br>
                                    <p class="text-muted">Skills: #R</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel" style="text-align: left;">
                                <div class="timeline-heading">
                                    <h3>Taipei City Government</h3>
                                    <h5 class="subheading">Section Assistant - Taipei City Market Administration Office</h5>
                                    <h5>November 2020 - August 2022</h5>
                                </div>
                                <div class="timeline-body" style="text-align: left;">
                                    <p class="text-muted">• Supervised operation of 3 public markets with a total of 424 stalls, orchestrated strategic modernization planning, involving facility upgrades and promotion of food hygiene practices, and secured prestigious 4-star market award for Shuiyuan Market</p>
                                    <p class="text-muted">• Mediated government-vendor communication, coordinated meetings with public officials, elected representatives, and private stakeholders, and successfully reignited the Hebin Market reconstruction project after a 6-month standstill</p>
                                    <p class="text-muted">• Mitigated COVID-19 outbreak by establishing contact tracing system and assisted markets in achieving 98% full vaccination rate</p>
                                    <br>
                                    <p class="text-muted">Skills: #Project Management </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>