 <!-- Modal Trigger -->
{% for post in site.posts %}
<a href="#Modal{{ post.modal-id }}" data-toggle="modal">Open {{ post.title }}</a>
{% endfor %}
 
 <!-- Portfolio Modals -->
 {% for post in site.posts%}
    <div class="portfolio-modal modal fade" id="Modal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            {% if post.tags contains 'programming' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <p>{{ post.content | markdownify }}</p>
                                <br>
                            {% endif %} 
                            <br>
                            {% if post.tags contains 'policy' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <p>{{ post.content | markdownify }}</p>
                                <br>
                            {% endif %} 
                            <br>
                            {% if post.tags contains 'music' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <p>{{ post.content | markdownify }}</p>
                                <br>
                            {% endif %} 
                            <br>  
                            {% if post.tags contains 'travel' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <p>{{ post.content | markdownify }}</p>
                                <br>
                            {% endif %} 
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endfor %}