 <!-- Portfolio Modals -->
 {% for post in site.posts%}
    <div class="portfolio-modal modal fade" id="Modal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            {% if post.tags contains 'programming' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <h4>Introduction</h4>
                                <p>{{ post.description }}</p>
                                <p>{{ post.skill }}</p>
                                <hr class="star-primary">
                                {% if post.video %}
                                {% if post.link %}
                                <!-- If post has a link -->
                                <a href="{{ post.link }}" target="_blank" style="font-size: 18px;">Link to Github Repository</a>
                                {% endif %}
                                <br>
                                <!-- If post has a video -->
                                <video width="100%" height="auto" controls>
                                    <source src="img/portfolio/{{ post.video }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                                <br>
                                {% endif %}

                                {% if post.pdf %}
                                    <!-- If post has a PDF file -->
                                    <div style="overflow-y: auto; max-height: 500px;"> <!-- Adjust max-height as needed -->
                                        <!--<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">-->
                                        <object data="{{ post.pdf }}" width="1000" height="1000" type="application/pdf">
                                            <!-- Fallback message if the browser doesn't support PDF embedding -->
                                            Your browser doesn't support embedding PDF files. You can <a href="{{ post.pdf }}">download</a> the PDF instead.
                                        </object>
                                    </div>
                                    <br>
                                    {% if post.link %}
                                        <!-- If post has a link -->
                                        <a href="{{ post.link }}" target="_blank" style="font-size: 18px;">Link to Google Colab</a>
                                        <br>
                                        <br>
                                    {% endif %}
                                    {% if post.html %}
                                        <!-- If post has an HTML file -->
                                        <h4>{{ post.paragraph }}</h4>
                                        <iframe src="{{ post.html }}" width="100%" height="600" frameborder="0"></iframe>
                                    {% endif %}
                                {% endif %}

                                {% if post.img %}
                                <!-- If post has image(s) -->
                                {% for image in post.img %}
                                    {% if post.link %}
                                    <!-- If post has a link -->
                                    <a href="{{ post.link }}" target="_blank" style="font-size: 18px;">Link to {{ post.title }}</a>
                                    {% endif %}
                                    <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                    <br> <!-- Add a line break after each image -->
                                {% endfor %}
                                {% endif %}
                            {% endif %}
                            <br>
                            {% if post.tags contains 'policy' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <p>{{ post.content | markdownify }}</p>
                                <!-- Add the rest of your content rendering logic here -->
                                <br>
                            {% endif %} 
                            <br>
                            {% if post.tags contains 'blog' %}
                                <h2>{{ post.title }}</h2>
                                <h4>{{ post.project-date }}</h4>
                                <br>
                                <p>{{ post.content | markdownify }}</p>
                                <!-- Add the rest of your content rendering logic here -->
                                <br>
                            {% endif %} 
                            <br>  
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>        
{% endfor %}