 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <h5>{{ post.project-date }}</h5>
                            <br>
                            <h5>Project Introduction</h5>
                            <p style="text-align: left;">{{ post.description }}</p>
                            <p style="text-align: left;">{{ post.skill }}</p>
                            <hr class="star-primary">
                            {% if post.video %}
                            <!-- If post has a video -->
                            <video width="100%" height="auto" controls>
                                <source src="img/portfolio/{{ post.video }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <br>
                            {% if post.link %}
                            <!-- If post has a link -->
                            <a href="{{ post.link }}" target="_blank" style="font-size: 18px;">Link to Github Repository</a>
                            {% endif %}
                            {% endif %}

                            {% if post.pdf %}
                            <!-- If post has a PDF file -->
                            <embed src="https://docs.google.com/viewer?url=${{ post.pdf }}" type="application/pdf" />
                            <br>
                            {% endif %}

                            {% if post.img %}
                            <!-- If post has image(s) -->
                            {% for image in post.img %}
                                <img src="img/portfolio/{{ image }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                                {% if post.link %}
                                <!-- If post has a link -->
                                <a href="{{ post.link }}" target="_blank" style="font-size: 18px;">Link to {{ post.title }}</a>
                                {% endif %}
                                <br> <!-- Add a line break after each image -->
                            {% endfor %}
                            {% endif %}
                            <br>
                            <!--<ul class="list-inline item-details">
                                <li>Client: <strong><a href="http://startbootstrap.com">{{ post.client }}</a></strong></li>
                                <li>Date: <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a></strong></li>
                                <li>Service: <strong><a href="http://startbootstrap.com">{{ post.category }}</a></strong></li>
                            </ul>-->
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}