<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="img/team/2.jpg" class="img-responsive img-circle" alt="" width="350" height="350">
                <p class="text-muted">{{ site.people[0].position}}</p>
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}">
                            <i class="fa fa-{{ network.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-8">
                <h2 class="section-heading">Yuting Weng</h2>
                <h3 class="section-subheading text-muted">• BI Developer | Automate Data Workflows with Power BI, Python & SQL | Explore LLM Solutions for Smarter Business Intelligence <br><br> • Master of Public Policy, University of Chicago | Data Analytics Track (STEM) <br><br> • BA in Economics, National Taiwan University </h3>
                <p class="large text-muted">Hi, I’m Yuting! I’m a BI Developer at Sintrones Technology, designing Power BI dashboards and building Python-based data pipelines that integrate and transform data from ERP systems, Oracle, Excel, and other sources. 
                    My work automates reporting, streamlines workflows, and delivers actionable insights across teams.<br><br> 
                I’m also conducting early-stage LLM implementation research to explore AI-assisted solutions for R&D workflow and technical document retrieval. <br>
                I hold a Master’s in Public Policy from the University of Chicago, specializing in data analytics, and I’m passionate about leveraging diverse data to drive smarter decisions and innovation! &#x1F60E;</p>
                <br>
                <!-- Download CV Button -->
                <a href="img/portfolio/Yuting_Weng_Resume.pdf" class="btn btn-primary"  target="_blank"> &#128073; Download CV</a>
            </div>
            </div>
        </div>
    </div>
</section>