<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="img/team/{{ site.people[0].pic}}.jpg" class="img-responsive img-circle" alt="" width="350" height="350">
                <p class="text-muted">{{ site.people[0].position}}</p>
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}">
                            <i class="fa fa-{{ network.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-8">
                <h2 class="section-heading">Yuting Weng</h2>
                <h5 class="section-subheading text-muted">• Business Intelligence Developer at Sintrones Technology <br><br> • Master of Public Policy, University of Chicago | Data Analytics & Finance and Policy Tracks (STEM) <br><br> • BA in Economics, National Taiwan University <br><br> • Technical Skills: Power BI, Python, SQL, R, Tableau, ArcGIS, HTML/CSS, Microsoft Excel</h5>
                <p class="large text-muted">Hi, I'm Yuting! I’m currently a BI Developer at Sintrones Technology, where I lead business intelligence initiatives, integrate ERP and Oracle data into reporting systems, and build automated workflows. In this role, I leverage BI tools like Power BI and Python programming skills to develop custom solutions—such as web scraping scripts, data transformation pipelines, and lightweight apps using Flask—for greater flexibility and impact across teams.<br><br> 
                I hold a Master’s in Public Policy from the University of Chicago, with a specialization in data analytics, which has equipped me with a strong foundation in data-driven decision-making and technical problem-solving. <br>
                I'm eager to connect with professionals and delve into potential avenues where I can contribute my skills and enthusiasm ! &#x1F60E;</p>
                <br>
                <!-- Download CV Button -->
                <a href="img/portfolio/Yuting_Weng_Resume.pdf" class="btn btn-primary"  target="_blank"> &#128073; Download CV</a>
            </div>
            </div>
        </div>
    </div>
</section>