<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <img src="img/team/{{ site.people[0].pic}}.jpg" class="img-responsive img-circle" alt="" width="350" height="350">
                <p class="text-muted">{{ site.people[0].position}}</p>
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}">
                            <i class="fa fa-{{ network.title }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-8">
                <h2 class="section-heading">Yuting Weng</h2>
                <h3 class="section-subheading text-muted">• Master of Public Policy, University of Chicago | Data Analytics & Finance and Policy Tracks (STEM) <br><br> • BA in Economics, National Taiwan University <br><br> • Technical Skills: Python, SQL, R, Tableau, PowerBI, Microsoft Office </h3>
                <p class="large text-muted">Hi, I'm Yuting, a second-year MPP student at the University of Chicago, deeply passionate about leveraging data-driven insights for impactful decision-making. <br> I’m actively seeking opportunities as a Data Analyst, Data Visualization Specialist, or Research Analyst. I'm eager to connect with professionals and delve into potential avenues where I can contribute my skills and enthusiasm ! &#x1F60E;</p>
                <br>
                <!-- Download CV Button -->
                <a href="img/portfolio/YutingWeng_Resume.pdf" class="btn btn-primary"  target="_blank"> &#128073; Download CV</a>
            </div>
            </div>
        </div>
    </div>
</section>