<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}

    {% if page.permalink != '/portfolio/' %}
        {% include team.html %}
        {% include about.html %}
    {% endif %}

    {% if page.permalink == '/portfolio/' %}
        {% include portfolio_grid.html %}
        {% include modals.html %}
    {% endif %}

    {% if page.permalink != '/portfolio/' %}
        {% include contact.html %}
    {% endif %}
    
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>